<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{contacto/base :: head}"></head>
<body>
<!--cabecera-->
<div th:replace="~{contacto/base :: nav_login}"></div>
<!--yumbotrom-->
<div th:replace="~{contacto/base :: yumbotron('Buscar por Nombre','none')}"></div>
<!--navegador-->
<div th:replace="~{contacto/base :: nav }"></div>
<!--cuerpo-->
<div class="container d-flex align-items-around flex-wrap">
    <div class="row">
        <div th:each="contacto : ${contactos}" th:classappend="${contacto.activo}==true ? bg-primary-subtle : bg-danger-subtle" class="card m-2" style="width: 18rem">
            <img th:src="${contacto.imagen}" class="rounded card-img-top" alt="imagen prueba" >
            <div class="card-body">
                <h5 th:text="${contacto.nombre}" class="card-title">Nombre contacto</h5>
                <div class="mb-1">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input th:value="${contacto.telefono}" type="tel" class="form-control" id="telefono" readonly>
                </div>

                <div class="mb-1">
                    <label for="correo" class="form-label">correo</label>
                    <input th:value="${contacto.correo}" type="email" class="form-control" id="correo" readonly>
                </div>
                <div class="mb-1">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input th:value="${contacto.direccion}" type="text" class="form-control" id="direccion" readonly>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mb-1" style="width:45%">
                        <label for="edad" class="form-label">edad</label>
                        <input th:value="${contacto.edad}" type="text" class="form-control" id="edad" readonly>
                    </div>
                    <div class="mb-1" style="width:45%">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input th:value="${contacto.fecha}" type="date" class="form-control" id="fecha" readonly>
                    </div>

                </div>

                <a th:href="@{/borrar/{id}(id=${contacto.id})}"
                   th:classappend="${contacto.activo} ? null : disabled" class="btn btn-danger">Eliminar</a>
                <a th:href="@{/actualizar/{id}(id=${contacto.id})}"
                   th:classappend="${contacto.activo} ? null : disabled" class="btn btn-success">Actualizar</a>

            </div>
        </div>
    </div>
</div>

</div>
<!--pie de pagina-->

</body>
</html>